src/flows/DE_Clone_Care_Observation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Link_Custom_Record</name>
        <label>Link Custom Record</label>
        <locationX>295</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>$Record.CareObservationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Custom_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Original</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Custom_Record</name>
        <label>Check For Custom Record</label>
        <locationX>168</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>Create_Custom_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Linked</defaultConnectorLabel>
        <rules>
            <name>Is_Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CareObservationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Custom_Record</targetReference>
            </connector>
            <label>Is Linked</label>
        </rules>
    </decisions>
    <interviewLabel>Clone Care Observation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Care Observation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Custom_Record</name>
        <label>Create Custom Record</label>
        <locationX>174</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Link_Custom_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Blood_Pressure_Reading__c</field>
            <value>
                <elementReference>$Record.Blood_Pressure_Reading__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodeId__c</field>
            <value>
                <elementReference>$Record.CodeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeviceId__c</field>
            <value>
                <elementReference>$Record.DeviceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDateTime__c</field>
            <value>
                <elementReference>$Record.EffectiveDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedValueId__c</field>
            <value>
                <elementReference>$Record.ExpectedValueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasMetExpectedValue__c</field>
            <value>
                <elementReference>$Record.HasMetExpectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsMonitoredRemotely__c</field>
            <value>
                <elementReference>$Record.IsMonitoredRemotely</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsOutcomePositive__c</field>
            <value>
                <elementReference>$Record.IsOutcomePositive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumericValue__c</field>
            <value>
                <elementReference>$Record.NumericValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservedSubjectId__c</field>
            <value>
                <elementReference>$Record.ObservedSubjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingResult__c</field>
            <value>
                <elementReference>$Record.ProcessingResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitOfMeasureId__c</field>
            <value>
                <elementReference>$Record.UnitOfMeasureId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>db_hours_EffectiveDateTime__c</field>
            <value>
                <elementReference>$Record.db_hours_EffectiveDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xDB_Days__c</field>
            <value>
                <elementReference>$Record.xDB_Days__c</elementReference>
            </value>
        </inputAssignments>
        <object>CareObservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Custom_Record</name>
        <label>Update Custom Record</label>
        <locationX>368</locationX>
        <locationY>315</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CareObservationId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Blood_Pressure_Reading__c</field>
            <value>
                <elementReference>$Record.Blood_Pressure_Reading__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodeId__c</field>
            <value>
                <elementReference>$Record.CodeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeviceId__c</field>
            <value>
                <elementReference>$Record.DeviceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDateTime__c</field>
            <value>
                <elementReference>$Record.EffectiveDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedValueId__c</field>
            <value>
                <elementReference>$Record.ExpectedValueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasMetExpectedValue__c</field>
            <value>
                <elementReference>$Record.HasMetExpectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsMonitoredRemotely__c</field>
            <value>
                <elementReference>$Record.IsMonitoredRemotely</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsOutcomePositive__c</field>
            <value>
                <elementReference>$Record.IsOutcomePositive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumericValue__c</field>
            <value>
                <elementReference>$Record.NumericValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObservedSubjectId__c</field>
            <value>
                <elementReference>$Record.ObservedSubjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingResult__c</field>
            <value>
                <elementReference>$Record.ProcessingResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitOfMeasureId__c</field>
            <value>
                <elementReference>$Record.UnitOfMeasureId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>db_hours_EffectiveDateTime__c</field>
            <value>
                <elementReference>$Record.db_hours_EffectiveDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xDB_Days__c</field>
            <value>
                <elementReference>$Record.xDB_Days__c</elementReference>
            </value>
        </inputAssignments>
        <object>CareObservation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original</name>
        <label>Update Original</label>
        <locationX>419</locationX>
        <locationY>552</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_For_Custom_Record</targetReference>
        </connector>
        <object>CareObservation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
